<div class="form-wrapper">
	<form action="/user" method="post" name="skills-recorder" id="skills-recorder">
		<fieldset>
			<h2>Name</h2>
			
			<div class="input-area">
				<div class="field">
					<label for="first-name">First Name:</label>
					<input name="first-name" value="<%= @user[:first_name] %>"/>
				</div>
				
				<div class="field">
					<label for="last-name">Last Name:</label>
					<input name="last-name" value="<%= @user[:last_name] %>"/>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<h2>Skills</h2>
			<div class="input-area">
				<div class="column one">
					<%= @skills %>
				</div>
				
				<div class="column two">
					<ul id="user-skills">
						<% if @user_skills.count > 0 %>
							<% @user_skills.each do |user_skill| %>
								<li id="skill-<%= user_skill[:id] %>"<% if user_skill[:parent_id] %> data-parent="skill-<%= user_skill[:parent_id] %>"<% end %>><%= user_skill[:name] %>
									<img class="remove" src="images/remove.png"/>
  									<input type="hidden" name="skill[]" value="<%= user_skill[:id].to_s %>"/>
								</li>
							<% end %>
						<% end %>
					</ul>
				</div>
			</div
		</fieldset>
		<input type="submit" value="Save Changes"/>
	</form>
</div>